<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SetOut - BEGIN YOUR JOURNEY</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <nav class="navbar navbar-default bg-light mb-2">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">SetOut</a>
      </div>
      <div>
        <div class="nav navbar-right">
          <% if(!currentUser){ %>
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/register">Register</a>
          <% } else{ %>
            <a class="nav-item nav-link" href="#">Signed in as <%= currentUser.username%></a>
            <a class="nav-item nav-link" href="/logout">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>